<div id="donate">
  
  <div class="row">
      <div class="desktop-12 tablet-6 mobile-3">
          <div class="section-title lines desktop-12"><h2>{{ page.title }}</h2></div>
      </div>
    </div>
  
  <div class="header">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" value="_s-xclick" type="hidden" /> <input name="hosted_button_id" value="AXKZ34D5FGTHL" type="hidden" />
      
      <h3>All donations go towards Roma Foundation, a 501(c)(3)charitable<br />organization created to carry out Roma's global mission!</h3>

      <input src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" type="image" border="0" />
      <img class="ujqlvruvrmpehrzwddka" alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" height="1" width="1" border="0" />
    </form>
    <img class="ujqlvruvrmpehrzwddka" alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" style="display: block; margin-left: auto; margin-right: auto;" height="1" width="1" border="0" />
  </div>
  
  <div class="video">
    <div class="row">
          <iframe class="mobile-3 tablet-5 desktop-8 center fn" src="//www.youtube.com/embed/76tDC-sTYl8?autoplay=0&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  
  <div class="row content">
      <div class="desktop-12 tablet-6 mobile-3">
          {{ page.content }}
      </div>
    </div>
  
  
</div>