<div id="day-of-hope">
  
  <div class="row">
      <div class="desktop-12 tablet-6 mobile-3">
          <div class="section-title lines desktop-12"><h2>{{ page.title }}</h2></div>
      </div>
    </div>
  
  <div class="header">
    <h1>Day of Hope is about</h1>
    <h1 class="big"><span>&laquo;</span>&nbsp; giving poverty the boot &nbsp;<span>&raquo;</span></h1>
    <h1>through simple acts of kindness</h1>
  </div>
  
  <div class="video">
    <div class="row">
          <iframe class="mobile-3 tablet-5 desktop-8 center fn" src="//www.youtube.com/embed/q3s1wHxwOZE?autoplay=0&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  
  <div class="row content">
      <div class="desktop-12 tablet-6 mobile-3">
          {{ page.content }}
      </div>
    </div>
  
  
</div>
