<div id="retailers">
  
  <div class="row">
      <div class="desktop-12 tablet-6 mobile-3">
          <div class="section-title lines desktop-12"><h2>{{ page.title }}</h2></div>
      </div>
    </div>
  
  <div class="header">
    <h1>Interested in becoming a</h1>
    <h1 class="big">Roma Boots retailer?</h1>
    <h2>Call us at 888.612.6264 or<br />email us at <a href="mailto:wholesale@romaboots.com">wholesale@romaboots.com</a></h2>
  </div>
  
  <div class="video">
    <div class="row">
          <iframe class="video-1 mobile-3 tablet-5 desktop-8 center fn" src="//www.youtube.com/embed/Zqxn6Q7j3ro?autoplay=0&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
      			<h3>A Customer's Perspective</h3>
          <iframe class="mobile-3 tablet-5 desktop-8 center fn" src="//www.youtube.com/embed/NbcvGrwuuiI?autoplay=0&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
      			<h3>A Retailer's Perspective</h3>
          <iframe class="mobile-3 tablet-5 desktop-8 center fn" src="//www.youtube.com/embed/mOi1YhhkJjM?autoplay=0&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
      			<h3>The Retail Presentation</h3>
    </div>
  </div>
  
  <div class="row content">
      <div class="desktop-12 tablet-6 mobile-3">
          {{ page.content }}
      </div>
    </div>
  
  
</div>